---
import BodySimple from "../layouts/BodySimple.astro"
---

<BodySimple title="Sobre mi | estefdev.xyz" icon="../../public/favicon.png">

    <style>
        .content {
            width: 100%;
            height: 100vh;
        }
    </style>
<div class="content">

</div>
</BodySimple>