---
import CardContentPage from "../components/CardContentPage.astro"
import Body from "../layouts/Body.astro"
---

<Body title="Card de estefan | estefdev.xyz" icon="../../public/favicon.png">
<CardContentPage />
</Body>